adafruit-blinka-displayio==0.10.3
Adafruit-Blinka==8.15.2
adafruit-circuitpython-bitmap-font==1.5.11
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-display-text==2.24.0
adafruit-circuitpython-displayio-ssd1306==1.5.11
adafruit-circuitpython-requests==1.13.0
adafruit-circuitpython-typing==1.8.3
Adafruit-PlatformDetect==3.40.3
Adafruit-PureIO==1.1.10
circuitpython-rm3100==1.0.0
circuitpython-mag-cal
numpy==1.24.2
Pillow==9.4.0
pip==22.3.1
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
setuptools==65.5.1
typing-extensions==4.5.0
wheel==0.38.4
