adafruit-circuitpython-bitmap-font
adafruit-circuitpython-busdevice
adafruit-circuitpython-display-text
adafruit-circuitpython-displayio-sh1106
adafruit-circuitpython-requests
adafruit-circuitpython-typing
Adafruit-PlatformDetect==3.40.3
Adafruit-PureIO==1.1.10
circuitpython-rm3100
circuitpython-mag-cal
numpy==1.24.2
Pillow==9.4.0
pip==22.3.1
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
setuptools==65.5.1
typing-extensions
wheel==0.38.4
